@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
}

header{
    width: 100%;
    display: flex;
    flex-direction: row; 
    position: fixed;
    background-color:white ;
}

.icono-hostinger{
    display: flex;
    align-items: center;
    padding: 29px 0px 29px 40px;
    border: 0;
}

.container-nav--movil{
    display: none;
}
.bi.bi-list{
    color: black;
    font-size: 24px;
}

.icon--logo{
    fill: black;
    width: 147px;
    height: 30px;
}

.conteiner-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 20px 40px;
}

.conteiner-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 25px;
}

nav a{
    text-decoration: none;
    color: black;
}

.nav-button:hover{
    color: rgba(0, 0, 0, 0.507);
}

.nuevo-horizons{
    font-size: 12px;
    font-weight: 700;
    color: #008361;
    background-color: #def4f0;
    border-radius: 8px;
    padding: 4px 8px;
}

.empezar-boton{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4px;
    border: 0;
    background-color: transparent;
    font-weight: 600;
}

.empezar-boton img{
    width: 35px;
}

.conteiner_login{
    display: flex;
    gap: 20px;
}

.boton-ingresar{
    border: 1px solid #2f1c6a;
    padding: 12px;
    border-radius: 10px;
    text-decoration: none;
    color: #2f1c6a;
    font-weight: 600;
}

/* seccion1 */
.section-principal{
    padding: 124px 0px 80px;
    color: #2f1c6a;

}

.conteiner-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    margin: auto;
    max-width: 1551px;
    gap: 8px;
    line-height: 40px;
}

.title-need-web{
    font-size: 36px;
    display: flex;
    justify-content: flex-start;
    color: #2f1c6a;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.off-paragraph{
    font-weight: 700;
    color: #2f1c6a;
    font-size: 20px;
}

.number-porcent{
    color: #673de6;
    font-size: 20px;
    font-weight: 700;
}

.conteiner-list-check{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 24px;

}

.conteiner-sale{
    display: flex;
    flex-direction: row;

}

.conteiner-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 470px;

}

.conteiner-img{
display: flex;
flex-direction: row;
max-width: 880px;
width: 100%;;
}

img{
    width: 100%;
}

.span_check{
    font-size: 16px;
    display: flex;
    align-items: center;
    margin: 2px;
    gap: 10px;
}

.bi.bi-check-lg{
    color: #00b090;
}

.bi.bi-question-circle{
    color: #2f1c6a;
}


.conteiner-sale{
display: inline;
}

.AR{
    font-size: 16.5px;
}

.price{
    font-size: 48px;
    font-weight: 700;
}

.month{
    font-size: 16.5px;
}

.container-month-free{
    margin-bottom: 8px;
}
.month-free{
    font-size: 20px;
    font-weight: 700;
}

.conteiner-button-clock{
display: flex;
flex-direction: row;
justify-content: flex-start;
gap: 12px;
align-items: center;
}

.start_now{
    font-size: 16px;
    background-color: #673de6;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    padding: 12px 48px;
    transition: 300ms ease-in-out;
}

.start_now:hover{
    background-color: #2f1c6a;
}

.false_clock{
    display: flex;
    color: #2f1c6a;
    background-color: #e2dbfc;
    border-radius: 12px;
    font-size: 16px;
    padding: 12px 48px;
}

/* seccion2 */
.section-migrations{
    background-color: #1f1346;
    color: #fff;
    padding: 80px 0px;
}

.conteiner-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    padding: 0px 40px;
    width: 100%;
    max-width: 1208px;
}

h2{
    font-size: 36px;
}

p{
    font-size: 16px;
}

.text-section-migrations{
    margin-top: 24px;
    width: 1128px;
}

.conteiner-card-general{
    display: flex;
    flex-direction: row;
    margin: 0px 50px;
    padding: 0px 40px;
    gap: 20px;
    width: 100%;
    max-width: 1208px;
    margin: auto;
}

.conteiner-box_article{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #2f1c6a;
    border-radius: 15px;
    padding: 32px;
    gap: 16px;
    min-height: 250px;
}
.icon{
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background-color: #673de6;
    padding: 10px;
}

.bi.bi-list-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.bi.bi-lightning-charge{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; 
}

.bi.bi-check-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; 
}

.paragraph-conteiner{
    font-weight: 700;
}

.conteiner-button-start{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    width: 100%;
}

.button-start{
    display: flex;
    padding: 12px 48px;
    border: 2px;
    border-radius: 8px;
    background-color: #673de6;
    position: relative;
    font-weight: 700;
    text-decoration: none;
    color: white;
    transition: 300ms ease-in-out;
}

.button-start:hover{
    background-color: #301c6a41;
}
/* footer */

footer{
    background-color: #f4f5ff;
    padding-top: 56px;
}

.footer-class{
    padding: 0px 40px;
    margin: auto ;
    width: 100%;
    max-width: 1208px;
}

.container-footer-div{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 24px;
    align-items: center;
    gap: 16px
}

.container_logo_medial{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.container_politicals_pay{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.conteiner_logo_hostinger{
    display: flex;
    justify-content: flex-start;
    flex: 1;
}

.logo-footer{
    width: 147px;
    height: 30px;
    fill: #301c6b;
}

.conteiner-socialmedial{
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    min-width: 200px;
    flex: 2;
}

.conteiner-socialmedial a{
    font-size: 0;
}

.conteiner-socialmedial svg{
    width: 32px;
    fill: #301c6b;
}

.metodo-pay{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    min-width: 200px;
}

.credit_card{
    width: 60px;
    height: 40px;
    overflow: hidden;
    border: 1px solid #d6e0ff;
    border-radius: 6px;
}

.credit_card img{
    width: 100%;
}

.credit_card_more{
    font-size: 14px;
    color:#673de6;
    text-decoration: none;
    font-weight:700;
}

.politicals-span{
    display: flex;
    flex-direction: row;
    gap: 16px;
    order: 4;
}

.politicals_text{
    font-size: 14px;
    color: #2f1c6a; 
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
}

.footer-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
    border-top: 1px solid #d5dfff;
    order: 6;
}

.footer_copyright{
    font-size: 14px;
    line-height: 24px;
    color: #2f1c6a; 
    font-weight: 400;
}
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #673de6;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 8px 16px 8px 8px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    line-height: 24px;
    gap: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.floating-button:hover {
    background-color: #5a22c6;
}

.icon img{
    width: 20px;
    height: 20px;
}


@media screen and (max-width: 1440px){
    .conteiner-principial{
        max-width: 1440px;
    }
    .conteiner-text{
        width: 100%;
        max-width: 440px;
    }
    .conteiner-img{
        width: 100%;
        max-width: 840px;
        overflow: hidden;
    }
    .conteiner-img img{
        width: 100%;
    }
    .title-need-web{
        font-size: 36px;
    }
    .off-paragraph{
        margin-top: 8px;
    }
}  

@media screen and(max-width: 1366px){
    .conteiner-principal{
        max-width: 1208px;
        padding: 0px 40px;
        margin: auto;
    }
    .conteiner-text{
        width: 100%;
        max-width: 450px;
    }
    .conteiner-img{
        width: 100%;
    }
}  

@media screen and ( max-width: 1125px){
    header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 16px;
    }
    .icono-hostinger{
        padding-left: 20px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .conteiner-header{
        display: none;
    }
    .container-nav--movil{
        display: flex;
        align-items: center;
        font-size: 24px;
    }

    .conteiner-title{
        max-width: 1125px;
        align-items: center;
    }

    .text-section-migrations{
        max-width: 1042px;
        width: 100%;
    }
}

@media screen and (max-width: 1024px){
    main{
        padding-top: 62px;
    }
    .section-principal{
        padding: 62px 0px;
    }
    .conteiner-principal{
        max-width: 768px;
        display: flex;
        flex-direction: column;
        padding: 0px 40px;
    }
    .conteiner-text{
        max-width: 100%;
        line-height: 26px;
    }
    .title-need-web{
        font-size: 28px;
        letter-spacing: normal;
    }
    .off-paragraph{
        font-size: 18px;
    }
    .conteiner-sale{
        margin-bottom: 2px;
    }
    .AR{
        font-size: 18px;
    }
    .price{
        font-size: 40px;
    }
    .month{
        font-size: 18px;
    }
    .month-free{
        font-size: 18px;
        margin-bottom: 18px;
    }
    .conteiner-button-clock{
        margin-bottom: 12px;
    }
    .conteiner-title{
        max-width: 768px;
    }
    .conteiner-title h2{
        font-size: 28px;
    }
    .conteiner-card-general{
        display: flex;
        flex-direction: column;
        max-width: 768px;
    }
    .conteiner-box_article{
        display: flex;
        min-height: 0px;
    }
    .paragraph-conteiner{
        font-size: 18px;
    }
    .footer-class{
        margin: auto;
        max-width: 768px;
        width: 100%;
    }
    .container_politicals_pay{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
    .metodo-pay{
        order: 2;
    }
    .politicals-span{
        order: 1;
    }
    .footer-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
    .footer_copyright span{
    font-size: 14px;
}
}


@media screen and (max-width: 768px){
    header{
        width: 100%;
    }
    .container-nav--movil{
        color: black;
        font-size: 16px;
    }
    .conteiner-principal{
        max-width: 540px;
        width: 100%;
        padding: 0px 16px;
    }
    .title-need-web{
        font-size: 24px;
        letter-spacing: normal;
        margin-bottom: 12px;
    }
    .conteiner-list-check{
        margin-bottom: 16px;
    }
    .AR{
        font-size: 20px;
    }
    .price{
        font-size: 36px;
    }
    .month{
        font-size: 20px;
    }
    .month-free{
        margin-bottom: 16px;
    }
    .conteiner-button-clock{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .start_now{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        order: 2;
    }
    .false_clock{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        order: 1;
    }

    .conteiner-text{
        margin-bottom: 16px;
    }
    .section-migrations{
        display: flex;
        flex-direction: column;

    }
    .conteiner-title{
        width: 100%;
        max-width: 540px;
        padding: 0px 16px;
        margin-bottom: 32px;
    }
    .conteiner-card-general{
        width: 100%;
        max-width: 540px;
        padding: 0px 16px;
    }
    .footer-class{
        max-width: 540px;
        width: 100%;
        padding: 0px 16px;
    }
    .container_logo_medial{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .conteiner-socialmedial{
        display: flex;
        justify-content: space-between;
        order: 1;
        padding: 16px 0px;
        margin-bottom: 8px;
        width: 100%;
    }
    .conteiner_logo_hostinger{
        display: flex;
        order: 2;
    }
    .container_politicals_pay{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .metodo-pay{
        margin-bottom: 24px;
        max-width: 328px;
        width: 100%;
        flex-wrap: wrap;
    }
    .politicals-span{
        margin-bottom: 8px;
        max-width: 328px;
        width: 100%;
        flex-wrap: wrap;
    }
    .footer_copyright span{
        margin-bottom: 8px;
    }
    .footer-footer{
        padding: 24px 0px 16px 0px;
    }
}
@media screen and (max-width: 540px) {
    .text-section-migrations {
        width: 100%;
        height: auto;
        padding: 0 20px;
        box-sizing: border-box;
        text-align: center;
}

    .conteiner-card-general {
        flex-direction: column;
        padding: 0 20px;
        gap: 24px;
    }

    .conteiner-box_article {
        padding: 24px;
    }

    .conteiner-title {
        padding: 0 20px;
    }

    .button-start {
        padding: 12px 32px;
    }

    .container_logo_medial{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .conteiner-socialmedial{
        order: 1;
        display: flex;
        justify-content: space-between;

    }
    .conteiner_logo_hostinger{
        order: 2;
    }

    .politicals-span{
        max-width: 328px;
        width: 100%;
        flex-wrap: wrap;
        gap: 18px;
    }

    .metodo-pay{
        max-width: 300px;
        flex-wrap: wrap;
    }

}

@media screen and (max-width:425px) {
    .conteiner-principal{
        display: flex;
        width: 100%;
        max-width: 400px;
        align-items: center;
        flex-direction: column;
    }

    .politicals-span{
        max-width: 328px;
    }
}

@media screen and (max-width:320px) {
    .politicals-span{
        max-width: 319px;
    }
    
    .politicals-span{
        max-width: 328px;
    }
}
